
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.head-text{
  position: relative;
  background: #e5fbba;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100vw;
  font-size: 16px;
  font-weight: 200;
  transition: transform 450ms;
}
.head-text:hover{
  transform: scale(1.08);
  color: #2c2a2a;
}

.head-text a{
  color: black;
}
.header{
background-color: #becafa;
height: 900px;
}

.nav{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 15px 0;
  
}
.list{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding: 15px 0;
  margin-left: 90px;
}

a{
  text-decoration: none;
  color: #000;
   transition: transform 450ms;
}
a:hover{
  text-decoration: underline;
  transform: scale(1.08);
}
.nav-list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
 
}
.logo{
  height: 30;
  width: 110; 
}
.free-trail{
  line-height: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-right: 70px;
  padding: 15px 0;
}
.button{
  height: 45px;
  width: 130px;
  border-radius: 30px;
  background: #000;
  color: white;
  font-weight: 500;
  font-size: 15px;
  transition: transform 450ms;
  border: none;
  text-align: center;
}
.button:hover{
  background: #d7f275;
  color: #2b2a2a;
  transform: scale(1.08);
}
.nav-text{
display: flex;
justify-content: space-between;
margin-top: 160px;
margin-left: 100px;
}
.text h1{
  font-size: 65px;
  font-weight:600;
  padding: 20px 0;
}
.text h3{
  font-size: 22px;
  font-weight: 100;
}
.text p{
  font-size: 14px;
  font-weight: 300;
}

.button1{
  height: 58px;
  width: 170px;
  border-radius: 30px;
  background: #000;
  color: white;
  font-weight: 500;
  font-size: 16px;
  transition: transform 450ms;
  border: none;
  margin: 20px;
}
.button1:hover{
  background: #d7f275;
  color: #2b2a2a;
  transform: scale(1.08);
  
}
.img-wrapper{
  height: 490px;
  width: 495px;
  overflow: hidden;
  border: 8px solid rgb(240, 167, 240, 0.7);
  border-radius: 24px;
  margin-right: 100px;
}
.img{
  object-fit: contain;
  border-radius: 16px;
  height: 490px;
  width: 490px;
  transition: transform 450ms;

}
.img:hover{
  transform: scale(1.08);
}
.section{
  display: flex;
  margin: 100px;
}
.section-text {
padding: 20px 0;
}

.section-text .h1{
  font-size: 55px;
  font-weight: 900px;
  padding: 15px 0;
}
.section-text .h3{
 padding: 20px 0;
 font-size: 20px;
 font-weight: 100;
 margin-bottom: 60px;
}
.wrapper{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 gap: 100px;

}
.wrapper-text{
  margin-left: 120px;
}

.h-text{
  font-size: 29px;
  padding: 15px 0;
}
.b-text{
  font-size: 17px;
  padding: 15px 0;
}
.section2{
  background-color: #e5e9ec;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
.h1-text2{
  font-size: 58px;
  font-weight: 600;
  padding: 20px 0;
  line-height: 50px;
}
.p-text2{
  font-size: 17px;
  
  line-height: 20px;
  margin-bottom: 40px;

}
.u{
  font-size: 17px;
  font-weight: 600;
  transition: transform 450ms;
  }
.u:hover{
  text-decoration: none;
  transform: scale(1.08);
}

.section3{
  background: white;
  height: 800px;
   margin-left: 70px;
 margin-top: 50px;
}
.section-text3 h1{
 font-size: 60px;
 font-weight: 600px;
 padding: 20px 0;
}

.wrap{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 100px;
}

.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 100%;
  flex: 1;
  padding: 40px 0;
  gap: 50px;
  line-height: 30px;
}
.row{
  padding: 20px 0;
}
.h2-wrap{
margin-top: 40px;
}

.section4{
  height: 50vh;
   margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient( to left, #C193C5, #7BC6CC);
}



@media (max-width: 550px){

}